@{
    ViewBag.Title = "Potwierdzenie konta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--jumbotron-->
<div class="jumbotron text-center">
    <h2 class="col-md-8 col-md-offset-2 header_information">Dziękujemy za utworzenie konta!</h2>
    <p class="col-md-8 col-md-offset-2">Link aktywacyjny został wysłany ma adres e-mail podany podczas rejestracji. Kliknij w niego aby aktywować!</p>
</div>

