@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Home/Home.css" rel="stylesheet" />

<div class="container">
    <!--jumbotron-->
    <div class="jumbotron text-center">
        <h2 class="col-md-8 col-md-offset-2 header_contact_address">Adres placówki ProDentiCare</h2>
        <p class="col-md-8 col-md-offset-2">02-765 Warszawa, ul. Siedlecka 1A</p>

        <h2 class="col-md-8 col-md-offset-2 header_contact_phone">Telefon</h2>
        <p class="col-md-8 col-md-offset-2">123-456-789</p>

        <h2 class="col-md-8 col-md-offset-2 header_contact_mail">Adres mailowy</h2>
        <p class="col-md-8 col-md-offset-2">centrum.prodenticare@gmail.com</p>
    </div>
</div>