@model List<DentiCare.Models.Appointments.AppointmentModel>

<div class="panel-body">
    <div id="div_booked_table" class="table-responsive col-md-12">
        <table id="booked_table_id" class="today_table table-striped table table-bordered table-hover">
            <thead class="blue_font">
                <tr>
                    <th class="text-center" style="width: 30%;">Godzina</th>
                    <th class="text-center" style="width: 70%;">Pacjent</th>
                </tr>
            </thead>
            <tbody class="grey_font">
                @foreach (var appointment in Model)
                {
                    <tr class="today_table_row">
                        <td class="text-center" style="width: 30%;">
                            <input type="hidden" id="appointmentID" value="@appointment.ID" />
                            @appointment.Date.ToShortTimeString()
                        </td>
                        <td class="text-center" style="width: 70%;">@appointment.PatientFullName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

