@model List<DentiCare.Models.Appointments.AppointmentModel>

@{
    ViewBag.Title = "Nadchodzace wizyty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Appointments/Appointments.css" rel="stylesheet" />

<div class="container">
    <h1 class="text-center text-primary col-md-12 main_header">Nadchodzące wizyty</h1>

    <div class="panel panel-default col-md-8 col-md-offset-2">
        <div class="panel-body">
            <div class="col-md-12 text-right">
                <button id="cancel_appointment_btn" style="margin-bottom: 10px;" type="button" class="btn btn-danger tooltipButton"
                        data-placement="top" title="Odwołaj wizytę">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>

            <div id="div_booked_table" class="table-responsive col-md-12">
                @Html.Partial("_BookedTermsList", Model)
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    $(document).ready(function () {
        $(".tooltipButton").tooltip();

        $("#cancel_appointment_btn").on('click', function (e) {
            e.preventDefault();
            Cancel();
            $("#cancel_appointment_btn").prop('disabled', true);
        });
    })

    function Cancel() {
        var appointmentID = $(".Row_Clicked").find("#appointmentID").attr('value');

        if (appointmentID !== undefined) {
            $.ajax({
                url: '@Url.Action("Cancel", "Appointments")',
                type: "GET",
                cache: false,
                contentType: "application/html, charset=utf-8",
                dataType: "html",
                data: { Id: appointmentID },
                success: function (result) {
                    $('#div_booked_table').html(result);
                    RefreshAlerts();
                },
                beforeSend: function () {
                    $("#loading_modal").modal('show');
                },
                complete: function () {
                    $("#loading_modal").modal('hide');
                }
            });
        }
    }

    function TableHoverBookedTerms() {
        $(".booked_table .booked_table_row").on("click", function () {
            var hasClass = $(this).hasClass("Row_Clicked");
            if (!hasClass) {
                $('.Row_Clicked').each(function () {
                    $(this).removeClass('Row_Clicked');
                });
                $(this).addClass('Row_Clicked');

                $("#cancel_appointment_btn").prop('disabled', false);
            }
        });
    }
</script>

