@{
    ViewBag.Title = "Potwierdzone konto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--jumbotron-->
<div class="jumbotron text-center">
    <h2 class="col-md-8 col-md-offset-2 header_information">Konto zostało aktywowane!</h2>
    <p class="col-md-8 col-md-offset-2">Dziękujemy za rejestrację.<br/> Można już zalogować się do serwisu DentiCare.</p>
</div>
