@{
    ViewBag.Title = "Potwierdzenie zapomnienia hasła";
}

<!--jumbotron-->
<div class="jumbotron text-center">
    <h2 class="col-md-8 col-md-offset-2 header_information" style="font-weight: 600;">Potwierdzenie zapomnienia hasła</h2>
    <p class="col-md-8 col-md-offset-2">Proszę sprawdzić skrzynkę mailową by zresetować hasło.</p>
</div>
	
