@{
    ViewBag.Title = "Zresetowano hasłon";
}

<!--jumbotron-->
<div class="jumbotron text-center">
    <h2 class="col-md-8 col-md-offset-2 header_information" style="font-weight: 600;">Zresetowano hasło</h2>
    <p class="col-md-8 col-md-offset-2">Twoje hasło zostało zresetowane.<br />  @Html.ActionLink("Kliknij tu by się zalogować", "Index", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
</div>